<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.noratek.tvoxx.androidtv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Aapp runs on only TV -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".MainApplication_"
        android:allowBackup="true"
        android:icon="@drawable/tvoxx_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".ui.HomeActivity_"
            android:exported="true"
            android:icon="@drawable/tvoxx_logo"
            android:label="@string/app_name"
            android:logo="@drawable/tvoxx_logo"
            android:orientation="vertical"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.VerticalGrid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TalksActivity_"
            android:icon="@drawable/tvoxx_logo"
            android:label="@string/app_name"
            android:logo="@drawable/tvoxx_logo"
            android:parentActivityName=".ui.HomeActivity_"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.Browse" />
        <activity
            android:name=".ui.SpeakersActivity_"
            android:exported="true"
            android:label="@string/app_name"
            android:orientation="vertical"
            android:parentActivityName=".ui.HomeActivity_"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Leanback.VerticalGrid" />
        <activity
            android:name=".ui.SpeakerDetailActivity_"
            android:exported="true"
            android:theme="@style/Theme.Leanback.Details" />
        <activity
            android:name=".ui.TalkDetailActivity_"
            android:exported="true"
            android:theme="@style/Theme.Leanback.Details" />
        <activity
            android:name=".ui.VideoPlaybackActivity_"
            android:exported="true" />
        <activity
            android:name=".ui.SearchActivity_"
            android:exported="true" />


    </application>

</manifest>